<link rel="stylesheet" href="styles/jsumain.css">


<span id="mainBody">



  <div class="leftColumn">
    <div class="leftColumn-header">

    </div>
    <div class="leftColumn-header" style="height:15%; background-color:black; color:white; text-align:right; padding:1%; font-size:52px;">
      Jackson State<br>Shooting
    </div>
  </div>

  <div class="rightColumn">
    <div class="rightColumn-header" >

    </div>
    <div class="rightColumn-header" style="height:15%; background-color:gold; color:white; font-size:72px; padding:25px;">
      The Events
    </div>
  </div>

</span>
